{
  "presets": ["es2015", "stage-1"],
  "plugins": [
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "sourceMaps": "both"
    }
  }
}
